# Node.js / Express / React
/node_modules
.env
.DS_Store
npm-debug.log
yarn-error.log

# Backend specific
/dist
/backend/.env

# Frontend specific
/frontend/build
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

# IDEs and editors
.vscode/
.idea/

# Logs
*.log
